main {
  background-color: rgb(37, 38, 49);
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

main > div {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

#drop-area, #prededsec {
  width: 55%;
  height: 55%;
}

#drop-area {
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 50%;
  height: 50%;
  font-family: sans-serif;
  padding: 20px;
  color: white;
}
#drop-area.highlight {
  border-color: green;
}
p {
  margin-top: 0;
}
.my-form {
  margin-bottom: 10px;
}
#gallery {
  margin-top: 10px;
}
#gallery img {
  width: 150px;
  margin-bottom: 10px;
  margin-right: 10px;
  vertical-align: middle;
}
.button {
  display: inline-block;
  padding: 10px;
  background: #ccc;
  cursor: pointer;
  border-radius: 5px;
  color: rgb(37, 38, 49);
  border: 1px solid #ccc;
}
.button:hover {
  background: #ddd;
}
#fileElem {
  display: none;
}

#prededsec {
  border: 2px solid green;
}
#prededsec>img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}